body {
    margin: 0;
    padding: 0;
    background-color: beige;
}
ul li a:hover {
    background-color: #111111;
}
h1 {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}
h2 {
    color: black;
    font-family:sans-serif;
    font-size: 24px;
}
h3 {
    color:rgb(105, 76, 76);
    font-family: sans-serif;
    font-size:  20px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16;
}
a {
    color: rgb(207, 21, 176);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}
ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
ul1 li {
    float: left;
}
ul1 li a {
    display: block;
    color:azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
